

    
    <div class="content-wrapper">

        <div class="container-fluid">
 
            <!-- Icon Cards -->
            <div class="row">
                <div class="col-md-4 ">
                   <div class="panel panel-primary">
                        <div class="panel-heading">Goals Details</div>
                        <div class="panel-body">
                       Total Goals <span class="badge"><%= @goalcount %></span> <br/>
                        
                        </div>
                        <div class="panel-footer"><a href="/goals">View All Goals</a></div>
                   </div>
                </div>
                <div class="col-md-4 ">
                   <div class="panel panel-primary">
                        <div class="panel-heading"> Milestones Details</div>
                        <div class="panel-body">
                       Total Milestones <span class="badge">  </span> 
                        </div>
                        
                   </div>
                </div>
                <div class="col-md-4 ">
                   <div class="panel panel-primary">
                        <div class="panel-heading">  Notes Details</div>
                        <div class="panel-body">
                       Total Notes <span class="badge">5 </span> 
                        </div>
                        
                   </div>
                </div>
                
            </div>

             <!-- Icon Cards -->
            <div class="row">
                <div class="col-md-4 ">
                   <div class="panel panel-primary">
                        <div class="panel-heading">Latest Goals</div>
                        <div class="panel-body">
                       <ul>
                       
                       </ul>
                        
                        </div>
                        <div class="panel-footer"><a href="/goals">View All Goals</a></div>
                   </div>
                </div>
                <div class="col-md-4 ">
                   <div class="panel panel-primary">
                        <div class="panel-heading"> Latest Milestones</div>
                        <div class="panel-body">
                       Total Milestones <span class="badge">  </span> 
                        </div>
                        
                   </div>
                </div>
                <div class="col-md-4 ">
                   <div class="panel panel-primary">
                        <div class="panel-heading"> Latest  Notes</div>
                        <div class="panel-body">
                       Total Notes <span class="badge">5 </span> 
                        </div>
                        
                   </div>
                </div>
                
            </div>


            
         </div>
        <!-- /.container-fluid -->

    </div>
     