<h3> Features of GoalSetter </h3>
<ul>
<li> Create a goal and set deadline </li>
<li>Create milestones for goal </li>
<li> Change status of milestone after completing it</li>
<li>Add notes for goal as you complete various tasks </li>
<li> View percentage of completed milestone for each goal</li>

<ul>